/* app/(guest)/rentals/cities/cities.module.css */

.scrollbarHide {
    overflow-x: auto;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
    -webkit-overflow-scrolling: touch; /* Smooth scrolling on iOS */
  }
  
  .scrollbarHide::-webkit-scrollbar {
    display: none; /* Chrome, Safari and Opera */
  }